node_modules/
music_folders.json
.DS_Store
.gemini/
.idea/
.vscode/

# OS files
Thumbs.db
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled binaries
*.exe
*.o
*.obj
*.pdb
*.ilk

# WebView2 SDK
webview2_sdk/

